/* STYLES FOR LANDING PAGE 
-------------------------------------------------------------------------------------------
*/
body{
    font-family: 'Lato', sans-serif;
}

.headertext{
    display: flex;
    justify-content: center;
    margin: 25px;
}

#form{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 50%;
    margin: auto;
}

label{
    font-size: 1.2em;
    margin: 15px 0 3px;
    font-weight: bold;
}

.textbox{
    border: none;
    padding: 10px 25px;
    font-size: 1.15em;
}

.btn{
    width: 20%;
}

#registerBox{
    display: flex;
    justify-content: center;
    margin: 35px;
}

#registerLink{
    color: #212529;
}

/* STYLES FOR MAIN USER PAGE (HABIT TRACKER) 
-------------------------------------------------------------------------------------------
*/

.logo {
    display: flex;
    margin: auto;

}
.container{
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(100, 100, 100);
    margin: 0 auto 10px;
    /* border: solid rgb(100, 100, 100);
    border-radius: 10px; */
}

.container section{  
    font-weight: 400;
    min-height: 25px;
    padding: 10px 30px;
    height: auto;
}

.container-main{
    border-top: solid rgb(100, 100, 100);
    height: auto;
    padding: 15px 10px;
}

.container-feedback{
    height: 150px;
    font-size: 2rem;
    text-align: center;
    padding: 25px;
    color: #83ab60;
    border-top: solid rgb(100, 100, 100);
}

.update-habits{
    height: 100px;
}

.habits button{
    margin-left: auto;
    background-color: #83ab60;
    color: white;
    border: none;
    margin-top: 10px;
}

/* .habits habits-row{
    display: flex;
    justify-content: space-between;
} */

/* MEDIA QUERIES FOR MAIN PAGE 
-------------------------------------------------------------------------------------------
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container{
        width: 80%;
    }    
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container{
        width: 70%;
    }    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container{
        width: 60%;
    }    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container{
        width: 50%;
    }
 }