body{
    font-family: 'Lato', sans-serif;
}

.headertext{
    display: flex;
    justify-content: center;
    margin: 25px;
}

#header1{
   color: rgb(149, 149, 149);
}


#form{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 50%;
    margin: auto;
}

label{
    font-size: 1.2em;
    margin: 15px 0 3px;
    font-weight: bold;
}

.textbox{
    background-color:  rgb(216, 216, 216);
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 1.15em;
}

#title{
    height: 35px;
}

#author{
    height: 35px;
}

#story{
height: 250px;
overflow-wrap: break-word; 
}

.btn{
    width: 20%;
    margin: auto;
}

#registerBox{
    display: flex;
    justify-content: center;
    margin: 35px;
}

#registerLink{
    color: #212529;
}

.container{
    font-size: 1.4rem;
    margin: 0 auto 10px;
    height: 100px;
    border: solid black;
    border-radius: 10px;
    
}

.container section{  
        height: 100px;
        background-color:blue; 
}

.container-main{
    height: auto;
    padding: 5px 10px;
}

.container-feedback{
    height: 200px;
}

.update-habits{

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container{
        width: 80%;
    }    

}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container{
        width: 70%;
    }    

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container{
        width: 60%;
    }    

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container{
        width: 50%;
    }
 }